# Project 9 Exercises

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Question 1

In [10]:
hw_data = pd.read_excel("EFWAndRGDP.xls")

hw_data

,ISO_Code_3,Year,ISO_Code_2,World Bank Region,"World Bank Current Income Classification, 1990-present (L=Low income, LM=Lower middle income, UM=Upper middle income, H=High income)",Countries,Summary,Size of Government,Legal System & Property Rights,Sound Money,Freedom to Trade Internationally,Regulation,RGDP Per Capita
0,AGO,1970-01-01,AO,Sub-Saharan Africa,NaN,Angola,NaN,NaN,NaN,NaN,NaN,NaN,2818.0000
1,NaN,1971-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,1972-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,1973-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1974-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8080,NaN,2014-01-01,ZW,Sub-Saharan Africa,L,Zimbabwe,5.999147,6.771807,3.930143,7.664303,6.398692,5.039824,1594.0000
8081,NaN,2015-01-01,ZW,Sub-Saharan Africa,L,Zimbabwe,6.449595,6.964753,4.108142,7.859669,6.509231,6.555970,1560.0000
8082,NaN,2016-01-01,ZW,Sub-Saharan Africa,L,Zimbabwe,6.121996,5.332597,4.056407,8.086016,6.404937,6.520805,1534.0000
8083,NaN,2017-01-01,ZW,Sub-Saharan Africa,L,Zimbabwe,5.599886,4.699843,4.071445,7.983888,4.503965,6.399757,1582.3662
8084,NaN,2018-01-01,ZW,Sub-Saharan Africa,LM,Zimbabwe,5.876298,5.170946,4.041897,7.312324,6.396649,6.303135,1611.4052

In [11]:
hw_data[hw_data["Countries"].isin(oecd_countries)]

,ISO_Code_3,Year,ISO_Code_2,World Bank Region,"World Bank Current Income Classification, 1990-present (L=Low income, LM=Lower middle income, UM=Upper middle income, H=High income)",Countries,Summary,Size of Government,Legal System & Property Rights,Sound Money,Freedom to Trade Internationally,Regulation,RGDP Per Capita
245,AUS,1970-01-01,AU,East Asia & Pacific,NaN,Australia,7.291154,6.863768,7.775615,9.581113,5.882101,6.335298,19166.0000
250,NaN,1975-01-01,AU,East Asia & Pacific,NaN,Australia,7.002204,6.255684,8.034445,8.346907,5.692162,6.761980,20993.0000
255,NaN,1980-01-01,AU,East Asia & Pacific,NaN,Australia,7.316469,6.339449,8.037057,9.085686,5.841104,7.389934,22972.0000
260,NaN,1985-01-01,AU,East Asia & Pacific,NaN,Australia,7.670016,6.259326,8.540345,9.089736,6.985368,7.469774,24927.0000
265,NaN,1990-01-01,AU,East Asia & Pacific,H,Australia,7.927001,6.708215,8.398730,9.018318,7.661409,7.750886,27373.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7786,NaN,2014-01-01,US,North America,H,United States,8.249649,7.239681,7.652463,9.737154,7.836022,8.792114,51664.0000
7787,NaN,2015-01-01,US,North America,H,United States,8.309574,7.237673,7.745733,9.855788,7.810632,8.891698,52591.0000
7788,NaN,2016-01-01,US,North America,H,United States,8.339536,7.252009,7.793107,9.814703,7.889129,8.952382,53015.0000
7789,NaN,2017-01-01,US,North America,H,United States,8.379486,7.354358,7.802657,9.772320,7.921225,9.031901,54007.7698
7790,NaN,2018-01-01,US,North America,H,United States,8.279612,7.409095,7.646530,9.772494,7.783384,8.784245,55334.7394